/.config/backups/
/.config/nvim/site/
/.config/vim/.viminfo
/.config/vim/viminfo
/.githooks
/nvim/.nvim.lua
/.nvimlog
/.xdg/cache/
/.xdg/data/
/.xdg/state/
/nvim/initPerHost.lua
/bin/nvim
/nvim/pack/unmerged/opt/
/Session.vim
/.xdg2/
