[submodule "arctgx"]
	path = nvim/pack/arctgx/opt/arctgx
	url = https://github.com/przepompownia/nvim-arctgx
[submodule "vim-dadbod"]
	path = nvim/pack/plugins/opt/vim-dadbod
	url = https://github.com/tpope/vim-dadbod
	branch = master
[submodule "vim-dadbod-ui"]
	path = nvim/pack/plugins/opt/vim-dadbod-ui
	url = https://github.com/kristijanhusak/vim-dadbod-ui.git
	branch = master
[submodule "nvim-treesitter-context"]
	path = nvim/pack/plugins/opt/nvim-treesitter-context
	url = https://github.com/nvim-treesitter/nvim-treesitter-context
[submodule "plenary.nvim"]
	path = nvim/pack/plugins/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim-dap"]
	path = nvim/pack/plugins/opt/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "schemastore.nvim"]
	path = nvim/pack/plugins/opt/schemastore.nvim
	url = https://github.com/b0o/schemastore.nvim
[submodule "osv-dap-nvim"]
	path = nvim/pack/plugins/opt/osv-dap-nvim
	url = https://github.com/jbyuki/one-small-step-for-vimkind
[submodule "null-ls.nvim"]
	path = nvim/pack/plugins/opt/none-ls.nvim
	url = https://github.com/nvimtools/none-ls.nvim
[submodule "gitsigns.nvim"]
	path = nvim/pack/plugins/opt/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "leap.nvim"]
	path = nvim/pack/plugins/opt/leap.nvim
	url = https://github.com/ggandor/leap.nvim
[submodule "nvim-tree.lua"]
	path = nvim/pack/plugins/opt/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua
[submodule "telescope-ui-select.nvim"]
	path = nvim/pack/plugins/opt/telescope-ui-select.nvim
	url = https://github.com/nvim-telescope/telescope-ui-select.nvim
[submodule "treesj"]
	path = nvim/pack/plugins/opt/treesj
	url = https://github.com/Wansmer/treesj
[submodule "nvim-dap-virtual-text"]
	path = nvim/pack/plugins/opt/nvim-dap-virtual-text
	url = https://github.com/theHamsta/nvim-dap-virtual-text
[submodule "nord.nvim"]
	path = nvim/pack/colorscheme/opt/nord.nvim
	url = https://github.com/gbprod/nord.nvim
[submodule "nvim-colorizer.lua"]
	path = nvim/pack/plugins/opt/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "onedark.nvim"]
	path = nvim/pack/colorscheme/opt/onedark.nvim
	url = https://github.com/navarasu/onedark.nvim
[submodule "unimpaired.nvim"]
	path = nvim/pack/plugins/opt/unimpaired.nvim
	url = https://github.com/Tummetott/unimpaired.nvim
[submodule "statuscol.nvim"]
	path = nvim/pack/plugins/opt/statuscol.nvim
	url = https://github.com/luukvbaal/statuscol.nvim
[submodule "nvim-treesitter"]
	path = nvim/pack/plugins/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
	branch = main
[submodule "neotest"]
	path = nvim/pack/plugins/opt/neotest
	url = https://github.com/nvim-neotest/neotest
[submodule "neotest-phpunit"]
	path = nvim/pack/plugins/opt/neotest-phpunit
	url = https://github.com/olimorris/neotest-phpunit
[submodule "actions-preview.nvim"]
	path = nvim/pack/plugins/opt/actions-preview.nvim
	url = https://github.com/aznhe21/actions-preview.nvim
[submodule "git-utils.nvim"]
	path = nvim/pack/arctgx/opt/git-utils.nvim
	url = https://github.com/przepompownia/git-utils.nvim
[submodule "nvim-nio"]
	path = nvim/pack/plugins/opt/nvim-nio
	url = https://github.com/nvim-neotest/nvim-nio
[submodule "ultimate-autopair.nvim"]
	path = nvim/pack/plugins/opt/ultimate-autopair.nvim
	url = https://github.com/altermo/ultimate-autopair.nvim
[submodule "nvim-snippets"]
	path = nvim/pack/plugins/opt/nvim-snippets
	url = https://github.com/przepompownia/nvim-snippets
	branch = allowed-filetypes
[submodule "mini.surround"]
	path = nvim/pack/plugins/opt/mini.surround
	url = https://github.com/echasnovski/mini.surround
[submodule "phpactor"]
	path = nvim/pack/plugins/opt/phpactor
	url = https://github.com/przepompownia/phpactor
	branch = experimental
[submodule "nvim-bqf"]
	path = nvim/pack/plugins/opt/nvim-bqf
	url = https://github.com/przepompownia/nvim-bqf
	branch = treesitter-main
[submodule "namu.nvim"]
	path = nvim/pack/plugins/opt/namu.nvim
	url = https://github.com/bassamsdata/namu.nvim
[submodule "telescope.nvim"]
	path = nvim/pack/plugins/opt/telescope.nvim
	url = https://github.com/przepompownia/telescope.nvim
	branch = custom
[submodule "nvim-treesitter-textobjects"]
	path = nvim/pack/plugins/opt/nvim-treesitter-textobjects
	url = https://github.com/przepompownia/nvim-treesitter-textobjects
	branch = custom
[submodule "diffview.nvim"]
	path = nvim/pack/plugins/opt/diffview.nvim
	url = https://github.com/przepompownia/diffview.nvim
	branch = arctgx
[submodule "telescope-fzf-native.nvim"]
	path = nvim/pack/plugins/opt/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim
[submodule "nvim-lspconfig"]
	path = nvim/pack/plugins/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "grug-far.nvim"]
	path = nvim/pack/plugins/opt/grug-far.nvim
	url = https://github.com/MagicDuck/grug-far.nvim
[submodule "nvim-dap-view"]
	path = nvim/pack/plugins/opt/nvim-dap-view
	url = https://github.com/igorlfs/nvim-dap-view
[submodule "nvim-dap-tab"]
	path = nvim/pack/arctgx/opt/nvim-dap-tab
	url = https://github.com/przepompownia/nvim-dap-tab
